*{
    padding: 0;
    margin: 0;
}

header .container{
    display: flex;
    align-items: center;
    background-color: #26445E;
}
.container .logo{
    height: 200px;
    width: 200px;
    padding: 2%;

}

.container .logo img{
    height: 100%;
    width: 100%;
}

.container nav{
    width: 800px;
}

.container nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 25px;

}

.container nav ul li a{
    text-decoration: none;
    font-family: cursive;
    color: white;

}

.container nav ul li a:hover{
    color: #14599e;
    transition: 0.5s;
}

.container .login{
    width: 20%;
}

.container .login button{
    margin-left: 120px;
    padding: 10px 15px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: #45eabe;
    color: white;
    font-weight: 800;
}

.container .login button:hover{
    color: rgb(218, 32, 32);
    transition: 0.5s;
}

/*MAIN BANNER */

main .container{
    display: flex;
}

main .container .main-text{
    width: 40%;
    padding: 10px 60px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

main .container .main-banner{
    width: 60%;
    display: flex;
    justify-content: center;

}

.main-banner img{
    width: 50%;
}

.main-text h1{
    font-size: 40px;
    color: white;
}

.main-text  p{
    font-size: 25px;
    color: white;
}

.main-text button{
    padding: 2%;
    border-radius: 5px;
    border: none;
    margin: 10px;
    text-transform: uppercase;
    color: white;

}

.btnvermelho{
    background-color: red;
    box-shadow: rgba(147, 16, 16, 0.789) 0px 54px 55px, rgba(100, 15, 15, 0.817) 0px -12px 30px, rgba(224, 4, 4, 0.857) 0px 4px 6px, rgba(110, 13, 13, 0.743) 0px 12px 13px, rgba(221, 22, 22, 0.851) 0px -3px 5px;
}
.btnazul{
    background-color: rgb(51, 119, 152);
    box-shadow: rgba(16, 137, 173, 0.727) 0px 54px 55px, rgba(16, 106, 145, 0.773) 0px -12px 30px, rgba(8, 96, 143, 0.698) 0px 4px 6px, rgba(8, 80, 91, 0.847) 0px 12px 13px, rgba(11, 177, 189, 0.676) 0px -3px 5px;
}

.main-text span{
    color: #147be2;
}



/*cards*/

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 4%;
    margin-bottom: 10px;
}

.card{
    background-color: white;
    width: 320px;
    font-family: sans-serif;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 16, 28, 0.998);
}

.card:hover{
    transform: translateY(-5px);
}

.card-img{
    background-image: url("../img/celular.jpg");
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}

.segundo{
    background-image: url("../img/computador.jpg");
}

.terceiro{
    background-image: url("../img/foneG.jpg");
}

.quarto{
    background-image: url("../img/Monitor.jpg");
}

.quinto{
    background-image: url("../img/MouseG.jpg");
}

.sexto{
    background-image: url("../img/Monitor.jpg");
}
.card-text{
    padding: 5px;
}

.card-text h2{
    font-size: 27px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #26445E;
}

.card-text p{
    font-size: 20px;
    margin-bottom: 15px;
}

.card-text a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 800;
    color: #14599e;
}



/*qualidades*/
.qualidades{
    width: 100%;
    font-family: sans-serif;
    background-color: #EA8845;
    margin-top: 4%;
    margin-bottom: 1%;
}

.qualidades .container div{
    display: flex;
    justify-content: center;
    
}

.qualidades .container div p{
    font-size: 1.3rem;
}

.meuSpan{
    font-size: 35px;
    font-weight: 700;

}

.qualidades .container{
    padding: 5%;
    display: flex;
    justify-content: space-around;
}



body{
    background-color: rgb(5, 55, 91);
}